@use '../abstracts/theme' as *;

body {
  background-color: $surface;
  color: $on-surface;
}
main {
  margin-left: 5vw;
}

h2 {
  font-family: var(--font-atteron);
  font-size: 4rem;
  color: $primary;
}

img {
  object-fit: cover;
  filter: saturate(0.6);
  border: 10px solid $surface;
  border-bottom-width: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}