@use '../abstracts/mixins' as *;
@use '../abstracts/theme' as *;

:root {
  --logo-scale: 6;
  --color-button-closed: #{$inverse-surface};
  --color-button-open: #{$surface};

  --color-navbar-open: #{$inverse-surface};
  --color-navbar-closed: #{$surface};
  --navbar-width-closed: 5vw;
  --navbar-width-open: 100vw;

  @include for-size(phone) {
    --logo-scale: 5;
    --color-button-closed: #{$surface};
    --color-button-open: #{$surface};

    --navbar-width-closed: 0vw;
    --navbar-width-open: 100vw;
  }
}

body {
  background-color: $surface;
  color: $on-surface;
}
main {
  margin-left: 5vw;
  @include for-size(phone) {
    margin-left: 0;
  }
}

h2 {
  font-family: var(--font-atteron);
  @include font-size(40);
  color: $primary;
  @include for-size(phone) {
    @include font-size(20);
  }
}

img {
  object-fit: cover;
  filter: saturate(0.6);
  border: 10px solid $surface;
  border-bottom-width: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  @include for-size(phone) {
    border-width: 6px;
    border-bottom-width: 30px;
  }
}