@use 'sass:math';

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 0.1rem;

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: math.div($line-height, $font-size);
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{math.div($letter-spacing, $font-size)}em;
  }
}

@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 600px) and (max-width: 1200px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == all {
    @media (min-width: 0px) and (max-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Invalid size specified. Use 'phone', 'tablet', 'desktop', or 'all'.";
  }
}