.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0.5rem 2rem;
  gap: 1rem;
  z-index: 10;
  height: 80px;

  @include for-size(phone) {
    padding: 0.5rem 1rem;
  }
  select {
    position: absolute;
    right: 6rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid gray;
    margin-left: 1rem;
  }
  &__logo {
    width: 4rem;
    height: 4rem;
    svg {
      filter: saturate(0.6);
    }
  }
}
