.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 1rem;
  select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid gray;
    margin-left: 1rem;
  }
}

.placeholder {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 8px;
  transition: width 0.3s ease-out;
}