.Details {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 
    "map date"
    "map countdown"
    "callaction callaction";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px;
  padding-block: 2rem;
  @include for-size(phone) {
    grid-template-areas: 
      "map"
      "date"
      "countdown"
      "callaction";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }
  &__map-container {
    grid-area: map;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 2rem;
    overflow: hidden;
    canvas {
      border-radius: 1.5rem;
    }
  }
  &__date-container {
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-family: var(--font-atteron);
      @include font-size(30);
      color: $primary;

      @include for-size(phone) {
        @include font-size(20);
      }
    }
  }
  &__countdown-container {
    grid-area: countdown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  &__countdown {
    background-color: $surface-container;
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 2rem;
    // CLOCK CARDS
    --fcc-digit-block-radius: 15px;
    --fcc-background: #702609;
    --fcc-divider-color: #FFF8F6;
    --fcc-digit-color: #FFF8F6;
    // LABEL
    --fcc-label-color: #221A14;
    // COLON
    --fcc-separator-size: 6px;
    --fcc-separator-color: #702609;
    @include for-size(phone) {
      padding: 1.5rem;
      border-radius: 1.5rem;
      --fcc-spacing: 4px; /* space between unit times and separators */
      --fcc-digit-block-width: 25px; /* width of digit card */
      --fcc-digit-block-height: 45px; /* height of digit card, highly recommend in even number */
      --fcc-digit-block-radius: 7px; /* border radius of digit card */
      --fcc-digit-block-spacing: 3px; /* space between blocks in each unit of time */
      --fcc-digit-font-size: 25px; /* font size of digit */
      --fcc-label-font-size: 10px; /* font size of label */
      --fcc-separator-size: 4px; /* size of colon */
    }
  }
  h3 {
    font-size: $font-size-lg;
  }
  &__callaction-container {
    grid-area: callaction;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.marker {
  width: 50px;
  height: 50px;
  background-color: $secondary;
  border: 3px solid $secondary-60;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid $secondary-60;
  }

  img {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
  }
}