:root {
  --color-button-closed: #{$inverse-surface};
  --color-button-open: #{$surface};

  @include for-size(phone) {
    --color-button-closed: #{$surface};
    --color-button-open: #{$surface};
  }
}

.navbar-button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  will-change: transform;

  @include for-size(phone) {
    position: fixed;
    top: 8px;
    left: 32px;
    width: 64px;
    height: 64px;
    z-index: 1000;
    background-color: $inverse-surface;
    border-radius: 50%;
  }

  &__line {
    content: "";
    width: 2px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
  }
}
