.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5vw;
  background-color: $surface;
  border-right: 1px solid $surface-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 999;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: center;
  }

  &__image-container {
    position: relative;
    pointer-events: none;
    aspect-ratio: 6/4;
    width: 600px;
    height: auto;
    border: 10px solid $surface;
    border-bottom-width: 40px;
    border-radius: 4px;
    &--vertical {
      width: 400px;
      aspect-ratio: 4/6;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}