.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $surface;
  border-right: 1px solid $primary-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 999;
  overflow: hidden;

  @include for-size(phone) {
    padding: 0;
  }

  &__container {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content images";
    align-items: center;
    justify-items: center;

    @include for-size(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "images" "content";
      height: 90vh;
      margin-top: 10vh;
    }
  }

  &__image-container {
    grid-area: images;
    position: relative;
    pointer-events: none;
    aspect-ratio: 6/4;
    width: 600px;
    height: auto;

    @include for-size(phone) {
      width: 320px;
      left: -15px;
    }
    &--vertical {
      width: 400px;
      aspect-ratio: 4/6;
      @include for-size(phone) {
        width: 250px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0.6);
  }
}